:root {
  --main-color: #741e20;
  --secundary-color: #acb8bb;
  --third-color: #ffe8ac;
  --light-gray: #e4e4e4;
  --yellow: #ffff00;
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/HelveticaLTStd-Bold.otf");
}
@font-face {
  font-family: "Helvetica-Light";
  src: url("../fonts/HelveticaLTStd-Light.otf");
}
@font-face {
  font-family: "Helvetica-Cond";
  src: url("../fonts/HelveticaLTStd-Cond.otf");
}
@font-face {
  font-family: "Helvetica-Roman";
  src: url("../fonts/HelveticaLTStd-Roman.otf");
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.zoom {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.zoom:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient {
  background: #741e20;
  background: linear-gradient(90deg, #741e20 13%, #641f1f 29%, #59201e 41%, #50201d 50%, #48201d 58%, #42211c 65%, #3e211c 73%, #3e211c 80%, #3e211c 90%, #3e211c 96%);
}

.shadow-yellow-button {
  background: var(--yellow);
  border-radius: 25px;
  padding: 8px 15px;
  color: #000;
  -webkit-box-shadow: 0px 0px 8px 3px #741e20;
  -moz-box-shadow: 0px 0px 8px 3px #741e20;
  box-shadow: 0px 0px 8px 3px #741e20;
  transition: all 0.3s ease;
}
.shadow-yellow-button:hover {
  text-decoration: none;
  cursor: pointer;
  padding: 10px 17px;
  color: #741e20;
}

.yellow-button {
  background: var(--yellow);
  border-radius: 20px;
  font-family: "Helvetica-Bold";
  padding: 6px 36px;
  color: #000;
}
.yellow-button:hover {
  text-decoration: none;
  color: #000;
}

.corporative-border-top {
  border-top: 23px solid rgba(255, 232, 172, 0.55);
}

.dots {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 25px;
}

.dots__item {
  width: 10px;
  height: 10px;
  margin: 0 0.1rem;
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
}

.dots__item--active {
  background: var(--yellow);
}

body {
  font-family: "Helvetica-Light";
}
body header {
  margin-top: 2px;
  width: 100%;
  border-top: 20px solid var(--main-color);
  border-bottom: 18px solid var(--third-color);
}
body header .logo-container img {
  width: 100%;
}
body header .titles {
  text-align: right;
}
body header .titles .main-title {
  color: var(--main-color);
  font-family: "Helvetica-Bold";
  font-size: 58px;
  text-transform: uppercase;
  margin-bottom: 0;
}
body header .titles .secundary-title {
  color: var(--main-color);
  font-size: 38px;
  text-transform: uppercase;
  font-family: "Helvetica-Roman";
}
body .sidebar {
  background: var(--light-gray);
}
body .sidebar h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Helvetica-Bold";
  text-shadow: 1px 1px 2px black;
  margin: 0;
}
body .sidebar p {
  text-align: center;
  text-transform: uppercase;
  font-family: "Helvetica-Bold";
  text-shadow: 1px 1px 2px black;
}
body .sidebar .black-border video {
  width: 80%;
  border: 10px solid #000;
}
body .sidebar .layer {
  position: relative;
  bottom: 62px;
}
body .sidebar .layer a {
  border-radius: 18px;
  font-size: 13px;
  padding: 6px 38px;
}
body .sidebar .layer a:hover {
  text-decoration: none;
  color: #000;
}
body .sidebar .buttons {
  padding: 25px;
}
body .sidebar .buttons video {
  width: 90%;
  border: 3px solid var(--main-color);
  border-radius: 5px;
}
body .sidebar .contact-data h4 {
  color: #e99527;
  text-align: center;
}
body .sidebar .contact-data > div {
  display: flex;
  padding: 10px;
  border-radius: 115px;
  background: #656464;
}
body .sidebar .contact-data > div a {
  width: 25%;
  padding: 2px;
}
body .sidebar .contact-data > div a img {
  width: 100%;
}
body .sidebar .contact-data p {
  color: #c3c3c3;
  font-family: "Helvetica-Light";
  text-transform: capitalize;
  font-size: 20px;
}
body .section-1 .content {
  padding-top: 45px;
}
body .section-1 h4 {
  color: #9095a8;
  text-align: center;
  font-family: "Helvetica-Bold";
}
body .section-1 .gray-btn {
  background: #e9eaed;
  color: #5c627e;
  font-family: "Helvetica-Bold";
  font-size: 21px;
  text-align: center;
  padding: 10px 25px;
  border-radius: 23px;
}
body .section-1 .gray-btn:hover {
  text-decoration: none;
}
body .section-1 .counters p {
  font-size: 20px;
  text-align: center;
}
body .section-1 .counters p span {
  font-family: "Helvetica-Bold";
  color: #fff;
}
body .section-1 .counters-container {
  background: #a90329;
  background: -moz-linear-gradient(left, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
  background: -webkit-linear-gradient(left, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -o-linear-gradient(left, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -ms-linear-gradient(left, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: linear-gradient(to right, #a90329 0%, #8f0222 44%, #6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#a90329", endColorstr="#6d0019", GradientType=1 );
  color: #fff;
  margin: 2px 5px;
  border-radius: 7px;
  padding: 20px 5px;
}
body .section-1 .mini-choices {
  padding-top: 14px;
  padding-bottom: 10px;
}
body .section-1 .mini-choices a {
  border-radius: 15px;
  margin-top: 5px;
  background: #ffbb1d;
  padding: 4px 15px;
  color: #fff;
  font-family: "Helvetica-Bold";
}
body .section-1 .carousel img {
  width: 80%;
  border-radius: 4px;
}
body .section-1 .woman-section .whatsapp img {
  width: 100%;
}
body .section-1 .woman-section .woman img {
  width: 100%;
}
body .section-2 {
  background: #acb8bb;
  padding: 20px 0;
}
body .section-2 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .section-2 img {
  width: 45%;
}
body .section-2 video {
  max-height: 200px;
  max-width: 300px;
  min-width: 240px;
  width: 40%;
  border-radius: 5px;
  min-height: 180px;
}
body .section-2 a {
  margin-top: 5px;
}
body .section-2 .cost {
  padding: 70px 0;
}
body .section-2 h3 {
  color: var(--yellow);
  font-family: "Helvetica-Bold";
  text-shadow: #000 1px 1px 1px;
}
body .section-3 {
  padding: 40px 0;
  background: #eef1f1;
}
body .section-3 img {
  width: 75%;
  border-radius: 5px;
}
body .section-3 video {
  max-height: 230px;
  max-width: 300px;
  min-width: 240px;
  width: 40%;
  border-radius: 5px;
  min-height: 230px;
}
body .section-3 > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
body .section-3 .subtitle-video {
  font-family: "Helvetica-Light";
  color: #828181;
  font-size: 27px;
  text-shadow: 1px 1px 1px;
}
body .section-4 {
  padding: 40px 0;
  background: #acb8bb;
}
body .section-4 img {
  width: 75%;
  border-radius: 5px;
}
body .section-5 {
  padding: 65px 5px;
}
body .section-5 h2 {
  color: var(--yellow);
  font-family: "Helvetica-Bold";
  font-size: 38px;
}
body .section-5 .right-section {
  display: flex;
  align-items: center;
}
body .section-5 .right-section .form {
  color: #fff;
}
body .section-5 .right-section .form .logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body .section-5 .right-section .form .logo img {
  width: 90%;
}
body .section-5 .right-section .form .search-bar h3 {
  color: #836c6e;
  text-transform: uppercase;
}
body .section-5 .right-section .form .search-bar p {
  font-size: 22px;
}
body footer {
  background: #000;
  padding: 40px 20px;
  padding-bottom: 10px;
  border-top: #41464e solid 12px;
}
body footer img {
  width: 100%;
  max-width: 150px;
}
body footer > div > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer .nacionality {
  width: 10%;
}

/*# sourceMappingURL=styles.css.map */
