:root {
    --main-color: #741e20;
    --secundary-color: #acb8bb;
    --third-color: #ffe8ac;
    --light-gray: #e4e4e4;
    --yellow: #ffff00;
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('../fonts/HelveticaLTStd-Bold.otf');
}
@font-face {
    font-family: 'Helvetica-Light';
    src: url('../fonts/HelveticaLTStd-Light.otf');
}
@font-face {
    font-family: 'Helvetica-Cond';
    src: url('../fonts/HelveticaLTStd-Cond.otf');
}
@font-face {
    font-family: 'Helvetica-Roman';
    src: url('../fonts/HelveticaLTStd-Roman.otf');
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient {
    background: rgb(116,30,32);
    background: linear-gradient(90deg, rgba(116,30,32,1) 13%, rgba(100,31,31,1) 29%, rgba(89,32,30,1) 41%, rgba(80,32,29,1) 50%, rgba(72,32,29,1) 58%, rgba(66,33,28,1) 65%, rgba(62,33,28,1) 73%, rgba(62,33,28,1) 80%, rgba(62,33,28,1) 90%, rgba(62,33,28,1) 96%);
}

.shadow-yellow-button {
    background: var(--yellow);
    border-radius: 25px;
    padding: 8px 15px;
    color: #000;
    -webkit-box-shadow: 0px 0px 8px 3px rgba(116,30,32,1);
    -moz-box-shadow: 0px 0px 8px 3px rgba(116,30,32,1);
    box-shadow: 0px 0px 8px 3px rgba(116,30,32,1);
    transition: all .3s ease;
    &:hover {
        text-decoration: none;
        cursor: pointer;
        padding: 10px 17px;
        color: rgba(116,30,32,1);
    }
}
.yellow-button {
    background: var(--yellow);
    border-radius: 20px;
    font-family: "Helvetica-Bold";
    padding: 6px 36px;
    color: #000;
    &:hover {
        text-decoration: none;
        color: #000;
    }
}
.corporative-border-top {
    border-top: 23px solid rgba(255,232,172, .55);
}


.dots {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 25px;
}

.dots__item {
    width: 10px;
    height: 10px;
    margin: 0 0.1rem;
    border: 0;
    background-color: #fff;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
}

.dots__item--active {
    background: var(--yellow);
}

body {
    font-family: 'Helvetica-Light';

    header {
        margin-top: 2px;
        width: 100%;
        border-top: 20px solid var(--main-color);
        border-bottom: 18px solid var(--third-color);
        .logo-container img{
            width: 100%;
        }
        .titles {
            text-align: right;
    
            .main-title {
                color: var(--main-color);
                font-family: 'Helvetica-Bold';
                font-size: 58px;
                text-transform: uppercase;
                margin-bottom: 0;
            }
            .secundary-title {
                color: var(--main-color);
                font-size: 38px;
                text-transform: uppercase;
                font-family: 'Helvetica-Roman';
            }
        }
    }
    .sidebar {
        background: var(--light-gray);
        h3 {
            text-align: center;
            text-transform: uppercase;
            font-family: 'Helvetica-Bold';
            text-shadow: 1px 1px 2px black;
            margin: 0;
        }
        p {
            text-align: center;
            text-transform: uppercase;
            font-family: 'Helvetica-Bold';
            text-shadow: 1px 1px 2px black; 
    
        }
        .black-border {

            video {
                width: 80%;
                border: 10px solid #000;
            }
        }
        
        .layer {
            position: relative;
            bottom: 62px;
            a {
                border-radius: 18px;
                font-size: 13px;
                padding: 6px 38px;
                &:hover {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
        .buttons {
            padding: 25px;
            video {
                width: 90%;
                border: 3px solid var(--main-color);
                border-radius: 5px;
            }
        }
        .contact-data {
            h4 {
                color: rgb(233, 149, 39);
                text-align: center;
            }
            > div {
                display: flex;
                padding: 10px;
                border-radius: 115px;
                background: #656464;
                a {
                    width: 25%;
                    padding: 2px;
                    img {
                        width: 100%;
                    }
                }
            }
            p {
                color: #c3c3c3;
                font-family: 'Helvetica-Light';
                text-transform: capitalize;
                font-size: 20px;
            }
           
        }
        
    }
    .section-1 {
        .content {
            padding-top: 45px;
        }
        h4 {
            color: #9095a8;
            text-align: center;
            font-family: 'Helvetica-Bold';
        }
       .gray-btn {
            background: #e9eaed;
            color: #5c627e;
            font-family: 'Helvetica-Bold';
            font-size: 21px;
            text-align: center;
            padding: 10px 25px;
            border-radius: 23px;
           &:hover {
               text-decoration: none;
           }
       }
       .counters p {
            font-size: 20px;
            text-align: center;
            span {
                font-family: 'Helvetica-Bold';
                color: #fff;
            }
       }
       .counters-container {
            background: rgba(169,3,41,1);
            background: -moz-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
            background: -webkit-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
            background: -o-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
            background: -ms-linear-gradient(left, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
            background: linear-gradient(to right, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
            color: #fff;
            margin: 2px 5px;
            border-radius: 7px;
            padding: 20px 5px;
       }
       .mini-choices {
            padding-top: 14px;
            padding-bottom: 10px;
            a {
                border-radius: 15px;
                margin-top: 5px;
                background: #ffbb1d;
                padding: 4px 15px;
                color: #fff;
                font-family: 'Helvetica-Bold';
            }
       }
       .carousel {
            img {
                width: 80%;
                border-radius: 4px;
            }
        }
        .woman-section {
            .whatsapp img {
                width: 100%;
            }
            .woman img {
                width:100%;
            }
        }

    }
    .section-2 {
        background: #acb8bb;
        padding: 20px 0;
        > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 45%;
        }
        video {
            max-height: 200px;
            max-width: 300px;
            min-width: 240px;
            width: 40%;
            border-radius: 5px;
            min-height: 180px;
        }
        a {
            margin-top: 5px;
        }
        .cost {
            padding: 70px 0;
        }
        h3 {
            color: var(--yellow);
            font-family: 'Helvetica-Bold';
            text-shadow: #000 1px 1px 1px;
        }
    }
    .section-3 {
        padding: 40px 0;
        background: #eef1f1;
        img {
            width: 75%;
            border-radius: 5px;
        }
        video {
            max-height: 230px;
            max-width: 300px;
            min-width: 240px;
            width: 40%;
            border-radius: 5px;
            min-height: 230px;
        }
        > div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }
        .subtitle-video {
            font-family: 'Helvetica-Light';
            color: #828181;
            font-size: 27px;
            text-shadow: 1px 1px 1px;
        }
    }
    .section-4 {
        padding: 40px 0;
        background: #acb8bb;
        img {
            width: 75%;
            border-radius: 5px;
        }
    }
    .section-5 {
        padding: 65px 5px;
        h2 {
            color: var(--yellow);
            font-family: 'Helvetica-Bold';
            font-size: 38px;
        }
        .right-section {
            display: flex;
            align-items: center;
            .form {
                color: #fff;
                .logo {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    img {
                        width: 90%;
                    }
                }
                .search-bar {
                    h3 {
                        color: #836c6e;
                        text-transform: uppercase;
                    }
                    p {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    footer {
        background: #000;
        padding: 40px 20px;
        padding-bottom: 10px;
        border-top: #41464e solid 12px;
        img {
           width: 100%;
           max-width: 150px;
        }
        
        > div > div > div {
           display: flex;
           justify-content: center;
           align-items: center;
        }
        .nacionality {
            width: 10%;
        }
    }
}




